name: Java CI with Gradle

on:
  push:
    branches: [ dev/* ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build with Gradle
      run: gradlew build
    - name: Build the Docker image
      run: gradlew buildImage
    - name: Run the Docker image
      run: runImage
    - name: Clean Docker image
      run: cleanImage
    - name: Clean Gradle
      run: graadlew clean
